.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color:  #e7f1ff !important;
    border-color: #e7f1ff !important;
}

.accordion-button-nuevo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left; 
    background-color: #fff;
    border: 0;
    border-radius:0;
    overflow-anchor: none;  
}